Body{
  background-color: #f2ebd8;
  color: #302e29;
  font-family: "Times"; Times New Roman;
  margin: 2px
  }
h1 {
  
  }

p{
  margin: 0px;
  }

h2{
  
  }

h3{
  margin: 1px;
  margin-bottom: 0.25px;
  }

h4 {
  font-style:  italic;
  margin: 1px;
  margin-top:  0.25px;
  }

